body {
    font-family: 'Barlow', sans-serif;
    background-color: #ffffff;
    margin: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

h4 {
    margin: 0 auto;
}

.borderr {
    border-right: 1px solid #000000;
}

.center {
    padding-left: 180px;
    padding-right: 180px;
}

.containertitle {
    max-width: 1440px;
    margin: 0 auto;
}

.maintitle {
    position: absolute;
    padding-top: 2rem;
}

.titulo1 {
    color: #002EFF;
    font-weight: 600;
    font-size: 48px;
}

.titulo2 {
    margin-top: -25px;
    color: #002EFF;
    font-weight: 400;
    font-size: 48px;
}

.vectorlogo {
    width: 129.28px;
    height: 48px;
    position: absolute;
    padding-top: 2rem;
}

.margin {
    margin-left: auto;
}

.middle {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    margin-top: 4rem;
}

.texto {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
    padding: 1rem 1rem 1rem 1rem;
    max-width: 550px;
}


.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerpad {
    background: #020247;
    margin-top: 7rem;
    height: 250px;
}

.logoresp {
    padding-top: 3rem;
}

.copy {
    color: white;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.imagenfondo1 {
    display: flex;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.button {
	background-color:#ffffff;
	display:inline-block;
	cursor:pointer;
	color:#0004ef;
	font-family:Arial;
    font-weight: 600;
	font-size:17px;
	padding:12px 40px;
	text-decoration:none;
    border: 2px solid #002EFF;
    border-radius: 28px;
}

.icono {
    color: #002EFF;
    padding-right: 9px;
}

.compartir {
    font-size: 40px;
    font-weight: 400;
}

.logoteams {
    padding-right: 1rem;
}

.textoitem {
    font-size: 26px;
    font-weight: 600;
    margin-left: 3rem;
}

.letraitem {
    position: absolute;
    font-size: 26px;
    left: 15px;
    z-index: 2;
    color: #FFFFFF;
    margin: 0;
}

.recforma {
    z-index: 1;
    position: absolute;
    left: 0;
}

.detalleitem {
    size: 20px;
    font-weight: 400;
}


.border {
    border: 1px solid #CCCCCC;
    border-radius: 10px;
}

.slider1 {
    display: flex !important;
    align-items: center;
    padding: 24px;
}

.slider1-1 {
    display: flex !important;
    align-items: center;
    padding: 24px;
}

.slider1-2 {
    display: flex !important;
    align-items: center;
    padding: 24px;
}

.slider2 {
    display: flex !important;
    align-items: center;
    padding: 24px;
    flex-direction: row-reverse;
}

.detallefoto {
    font-weight: 400;
    font-size: 24px;
    margin: 0 auto;
}

.detallefoto2 {
    font-weight: 400;
    font-size: 22px;
}

.relative {
    position: relative;
}

.imagencarrusel {
    margin: 0 auto;
}


.slick-dots li.slick-active button:before{
    color: #002EFF;;
    opacity: 1;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before{
    opacity: .25;
}

.slick-dots li.slick-active button:hover:before, .slick-dots li.slick-active button:focus:before{
    opacity: 1;
}

.slick-dots li button:before {
    font-size: 15px;
    margin-top: 1rem;
}

.detallefotos {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
}

.detallefotoalternativo {
    max-width: 450px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}


.padding {
    padding-left: 2rem;

}

.paddingbajo {
    margin-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 2rem;

}

.flex {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-bottom: 3rem;
}

.gap {
    gap: 6rem;
}

.vector {
    display: flex;
}

.titulo1mobil {
    display: none;
}

.titulo2mobil {
    display: none;
}

.slick-dots {
    bottom: -45px;
}
.textoa {
    margin-top: 4rem;
}

.textob {
    margin-top: 6rem;
}

.textod {
    margin-top: 7rem;
}

.textoc {
    margin-top: 7rem;
}

/* CSS RESPONSIVE 🤑🤑🤑 */


@media (max-width: 600px) {
    .barra {
        background-color: #020247;
        width: 100%;
        height: 50px;
    }

    .logoresponsive {
        position: relative;
        width: 50%;
    }

    .titulo1 {
        display: block;
        font-weight: 400;
        font-size: 24px;
    }

    .titulo2 {
        display: block;
        font-size: 24px;
    }

    .containerresp {
        max-width: 600px;
        left: 5%;
    }

    .titulom2mobil {
        color: #002EFF;
        font-weight: 600;
        font-size: 24px;
    }

    .mobileimg {
        width: 100%;
        margin-top: 5rem;
    }

    .margin {
        margin-left: inherit;
    }
    
    .titulo2 {
        display: none;
    }

    .titulo1 {
        display: none;
    }

    .copy {
        display: none;
    }

    .titulo1mobil {
        padding-top: 0.5rem;
        font-weight: 400;
        color: #002EFF;
        margin: 0 auto;
        display: block;
        font-size: 24px;
    }

    .titulo2mobil {
        color: #002EFF;
        margin: 0 auto;
        display: block;
        font-size: 24px;
    }

    .button {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .containertitle {
        max-width: 600px;
        margin: 0 2rem 0 2rem;
    }
    
    .footerpad {
        height: 170px;
    }

    .logoresp {
        padding-top: 2rem;
    }

    .compartir {
        font-size: 24px;
    }

    .textoitem {
        font-size: 24px;
    }

    .recforma {
        position: static;
        padding-bottom: 1rem;
    }

    .letraitem {
        top: 0%;
    }

    .textoa {
        margin: 0 auto;
    }

    .textob {
        margin: 0 auto;
        padding-bottom: 2rem;
    }

    .textoc {
        margin: 0 auto;
    }

    .textod  {
        margin: 0 auto;
    }

    .column {
        flex-direction: column;
    }

    .none {
        display: none;
    }

    .grid {
        grid-template-columns: none;
    }

    .margtop {
        margin-top: 6rem;
    }

    .borderr {
        border-right: none;
    }

    
}