body {
    font-family: 'Barlow', sans-serif;
    background-color: #ffffff;
    margin: 0;
    box-sizing: border-box;
}

.center {
    padding-left: 180px;
    padding-right: 180px;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.maintitle {
    position: absolute;
    padding-top: 2rem;
}

.titulo1 {
    color: #002EFF;
    font-weight: 600;
    font-size: 48px;
}

.titulo2 {
    margin-top: -25px;
    color: #002EFF;
    font-weight: 400;
    font-size: 48px;
}

.vectorlogo {
    width: 129.28px;
    height: 48px;
    position: absolute;
    padding-top: 2rem;
}

.margin {
    margin-left: auto;
}

.middle {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    margin-top: 4rem;
}

.texto {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
    padding: 1rem 1rem 1rem 1rem;
    max-width: 550px;
}


.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background: #020247;
}

.copy {
    color: white;
}

.grid-platforms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    margin-bottom: 4rem;
}

.border {
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    padding-left: 3rem;
    padding-right: 3rem;
}

.logo {
    padding-top: 2rem;
}

.button {
	background-color:#002EFF;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-size: 18px;
    font-weight: 600;
	padding:11px 26px;
	text-decoration:none;
    margin-bottom: 1rem;
}

.icono {
    padding-left: 8px;
}

.imagen1 {
    width: 600px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.imagenfondo1 {
    display: flex;
}

/* NONE!!!! */

.titulomobil1,.titulomobil2,.logomobile{
    display: none;
}

@media (max-width: 600px) {
    .grid-platforms {
        grid-template-columns: 100%;
    }

    .middle {
        grid-template-columns: 1fr;
    }

    .barra {
        background-color: #020247;
        width: 100%;
        height: 70px;
    }

    .maintitle {
        left: 10%;
    }

    .logomobile {
        display: block;
    }

    .mobileimg {
        width: 100%;
        margin-top: 30%;
    }

    .titulomobil1 {
        display: block;
        font-size: 24px;
        font-weight: 400;
        color: #002EFF;
    }

    .titulomobil2 {
        display: block;
        font-size: 24px;
        font-weight: 600;
        color: #002EFF;
        margin-top: -20px;
    }

    .imagen1 {
        width: 100%;
        border-radius: 10px;
    }

    .center {
        padding-left: 60px;
        padding-right: 60px;
    }

    .texto {
        font-size: 20px;
        margin: auto;
        padding-bottom: 3rem;
    }

    .logofooter {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    /* NONE!!! */
    .titulo1 , .titulo2 , .vectorlogo,.copy {
        display: none;
    }

    .ajuste {
        padding-bottom: 0rem;
    }

    .container {
        margin: 0 30px;
    }

    .imagenfondo1 {
        flex-direction: column;
    }

    .margin {
        margin: 0;
    }

    .slick-dots li.slick-active button:before{
        color: #002EFF;;
        opacity: 1;
    }

    .slick-dots li button:hover:before, .slick-dots li button:focus:before{
         opacity: .25;
    }

    .slick-dots li.slick-active button:hover:before, .slick-dots li.slick-active button:focus:before{
        opacity: 1;
    }

    /* .slick-dots li.slick-active button:before {
        color: #002EFF;
    } */

    .slick-dots li button:before {
        font-size: 15px;
        margin-top: 1rem;
    }

    .footerpad {
        margin-top: 4rem;
    }
    


  }