html {
    font-family: 'Barlow', sans-serif;
}

body {
    background-color: #ffffff;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    font-weight: 500;
    font-size: 30px;
}

h3 {
    font-weight: 500;
}

h4 {
    margin: 0 auto;
    font-weight: 400;
}

p {
    margin: 0;
    font-weight: 400;
}


a {
    font-weight: 500;
    color: white;
    font-size: 18px;
}

input {
    font-size: 18px;
}

select {
    font-size: 18px;
}

option {
    font-size: 18px;
}
/* CLASES PRED */

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
}

/* CLASES PROPIAS */

.container-title {
    padding-left: 308px;
    padding-right: 308px;
}

.padd-topbar {
    padding-top: 1rem;
}

.padd-logo {
    padding-top: 25px;
    padding-bottom: 25px;
}

.container {
    max-width: 845px;
    margin: 0 auto;
}

.top-bar {
    width: 100%;
    height: 100px;
    background-color: #002EFF;
}

.a-nodef {
    text-decoration: none;
}

.gap {
    display: flex;
    gap: 2rem;
}

.space {
    justify-content: space-between;
}

.title {
    padding-top: 80px;
    font-size: 30px;
}

.sub {
    padding-top: 40px;
}

.azul {
    color: #002EFF;
}

.inputx {
    width: 540px;
    height: 45px;
    border: 1px solid #999999;
    border-radius: 8px;
}

.inputz {
    width: 255px;
    height: 45px;
    border: 1px solid #999999;
    border-radius: 8px;
}

.minuspadd {
    padding-top: 10px;
}

.line {
    margin-top: 40px;
    width: 825px;
    border-top: 1px solid #CCCCCC;
}

.select {
    width: 255px;
    height: 45px;
    border: 1px solid #999999;
    border-radius: 8px;
}

.paddingbot {
    padding-bottom: 10px;
}

.separacion {
    margin-bottom: 26px;
}

.boton {
    width: 255px;
    height: 45px;
    font-size: 14px;
    background: #FF3D00;
    border-radius: 22.5px;
    border: none;
    color: #ffffff;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.center {
    padding: 12px;
}

.padding-btn {
    margin-top: 40px;
    margin-bottom: 40px;
}

.flex-btn {
    display: flex;
    flex-direction: row-reverse;
}

.block {
    display: block;
}

.none {
    display: none;
}

select {
    color: #002EFF;
    width: 100px;
}

.margtable {
    margin-top: 3rem;
    margin-bottom: 3rem;
}


/* CSS RESPONSIVE 🤑🤑🤑 */

@media (max-width: 600px) {

    a {
        font-size: 18px;
    }

    h2 {
        font-size: 24px;
    }

    .line {
        width: 100%;
    }

    .select {
        width: 100%;
    }

    .container {
        width: 322px;
    }

    .title {
        padding-top: 2rem;
    }

    .inputx {
        width: 320px;
        height: 45px;
        border: 1px solid #999999;
        border-radius: 8px;
    }
    
    .inputz {
        width: 320px;
        height: 45px;
        border: 1px solid #999999;
        border-radius: 8px;
    }

    .flex-column {
        flex-direction: column;
    }
    
}